---
import { Image } from 'astro:assets'
import BarItem from '@/components/common/BarItem.astro'
import imageProfile from '@/assets/images/jinwoo.avif'
import DashboardIcon from '@/assets/icons/dashboard.svg'
import WalletIcon from '@/assets/icons/wallet.svg'
import PiggyBankIcon from '@/assets/icons/piggy-bank.svg'
import TrendingUpIcon from '@/assets/icons/trending-up.svg'
import TrendingDownIcon from '@/assets/icons/trending-down.svg'
import FolderIcon from '@/assets/icons/folder.svg'
import CheckIcon from '@/assets/icons/check.svg'
import NoteIcon from '@/assets/icons/note.svg'
import TargetIcon from '@/assets/icons/target.svg'
import CalendarIcon from '@/assets/icons/calendar.svg'
import ClockIcon from '@/assets/icons/clock.svg'
import BookIcon from '@/assets/icons/book.svg'
import InitBackdrop from '@/components/common/InitBackdrop.svelte'
import SettingsIcon from '@/assets/icons/settings.svg'
import type { UserRecord } from 'firebase-admin/auth'

const menuItems = [
  {
    title: 'Finanzas',
    items: [
      {
        title: 'Income',
        url: '/finances/income',
        icon: TrendingUpIcon,
      },
      {
        title: 'Expense',
        url: '/finances/expense',
        icon: TrendingDownIcon,
      },
      {
        title: 'Savings',
        url: '/finances/savings',
        icon: PiggyBankIcon,
      },
      {
        title: 'Budget',
        url: '/finances/budget',
        icon: WalletIcon,
      },
    ],
  },
  {
    title: 'Productivity',
    items: [
      {
        title: 'Projects',
        url: '/productivity/projects',
        icon: FolderIcon,
      },
      {
        title: 'Tasks',
        url: '/productivity/tasks',
        icon: CheckIcon,
      },
      {
        title: 'Notes',
        url: '/productivity/notes',
        icon: NoteIcon,
      },
      {
        title: 'Habits',
        url: '/productivity/habits',
        icon: TargetIcon,
      },
    ],
  },
  {
    title: 'tools',
    items: [
      {
        title: 'Calendar',
        url: '/tools/calendar',
        icon: CalendarIcon,
      },
      {
        title: 'Time',
        url: '/tools/time',
        icon: ClockIcon,
      },
      {
        title: 'Learning',
        url: '/tools/learning',
        icon: BookIcon,
      },
    ],
  },
]

interface Props {
  user?: UserRecord
}

const { user } = Astro.props
---

<aside
  transition:persist="true"
  class="bg-primary relative flex flex-1 flex-col justify-between gap-4 overflow-y-auto overflow-x-hidden rounded-lg [grid-area:aside]"
>
  <section class="mx-4 mt-4 flex flex-col items-center gap-0.5">
    {
      user ? (
        <picture class="border-dark mx-1 size-28 overflow-hidden rounded-full border-4">
          <img
            loading="eager"
            src={user?.photoURL}
            alt={`img profile of ${user?.displayName}`}
            class="aspect-square size-full object-cover object-center"
          />
        </picture>
        <h2 class="text-light text-center text-xl font-extrabold">{user?.displayName}</h2>
      ) : (
        <picture class="border-dark mx-1 size-28 overflow-hidden rounded-full border-4">
          <Image
            loading="eager"
            src={imageProfile}
            alt="img profile of Jinwoo"
            class="aspect-square size-full object-cover object-center"
          />
        </picture>
        <h2 class="text-light text-center text-xl font-extrabold">Jinwoo</h2>
      )
    }
  </section>
  <nav class="nav relative mx-2 flex flex-col justify-center gap-4">
    <InitBackdrop client:only="svelte"/>

    <div>
      <ul class="flex flex-col gap-0.5">
        <BarItem href="/">
          <DashboardIcon class="size-4" />
          Dashboard
        </BarItem>
      </ul>
    </div>
    {
      menuItems.map((section) => (
        <div>
          <h3 class="text-dark select-none rounded-lg px-2 text-base font-extrabold">
            {section.title}
          </h3>
          <ul class="flex flex-col gap-0.5">
            {section.items?.map((item) => (
              <BarItem href={item.url}>
                <item.icon class="size-4" />
                {item.title}
              </BarItem>
            ))}
          </ul>
        </div>
      ))
    }

    <div>
      <ul class="flex flex-col gap-0.5">
        <BarItem href="/settings">
          <SettingsIcon class="size-4" />
          Settings
        </BarItem>
      </ul>
    </div>
  </nav>

  <footer class="mx-4 mb-3 flex grow basis-0 items-end justify-center">
    <form action="/api/auth/signout" class="w-full">
      <button
        class="bg-dark text-light w-full cursor-pointer rounded py-1.5 text-center text-lg font-bold"
        type="submit"
      >
        Log Out
      </button>
    </form>
  </footer>
</aside>
