---
import { Image } from 'astro:assets'
import BarItem from '@/components/common/BarItem.astro'
import imageProfile from '@/assets/images/jinwoo.avif'
import DashboardIcon from '@/assets/icons/dashboard.svg'
import WalletIcon from '@/assets/icons/wallet.svg'
import PiggyBankIcon from '@/assets/icons/piggy-bank.svg'
import TrendingUpIcon from '@/assets/icons/trending-up.svg'
import TrendingDownIcon from '@/assets/icons/trending-down.svg'
import FolderIcon from '@/assets/icons/folder.svg'
import CheckIcon from '@/assets/icons/check.svg'
import NoteIcon from '@/assets/icons/note.svg'
import TargetIcon from '@/assets/icons/target.svg'
import CalendarIcon from '@/assets/icons/calendar.svg'
import ClockIcon from '@/assets/icons/clock.svg'
import BookIcon from '@/assets/icons/book.svg'
import InitBackdrop from '@/components/common/InitBackdrop'
import SettingsIcon from '@/assets/icons/settings.svg'

const currentPath = Astro.url.pathname

const menuItems = [
  {
    title: 'Finanzas',
    items: [
      {
        title: 'Income',
        url: '/finances/income',
        icon: TrendingUpIcon,
      },
      {
        title: 'Expense',
        url: '/finances/expense',
        icon: TrendingDownIcon,
      },
      {
        title: 'Savings',
        url: '/finances/savings',
        icon: PiggyBankIcon,
      },
      {
        title: 'Budget',
        url: '/finances/budget',
        icon: WalletIcon,
      },
    ],
  },
  {
    title: 'Productivity',
    items: [
      {
        title: 'Projects',
        url: '/productivity/projects',
        icon: FolderIcon,
      },
      {
        title: 'Tasks',
        url: '/productivity/tasks',
        icon: CheckIcon,
      },
      {
        title: 'Notes',
        url: '/productivity/notes',
        icon: NoteIcon,
      },
      {
        title: 'Habits',
        url: '/productivity/habits',
        icon: TargetIcon,
      },
    ],
  },
  {
    title: 'tools',
    items: [
      {
        title: 'Calendar',
        url: '/tools/calendar',
        icon: CalendarIcon,
      },
      {
        title: 'Time',
        url: '/tools/time',
        icon: ClockIcon,
      },
      {
        title: 'Learning',
        url: '/tools/learning',
        icon: BookIcon,
      },
    ],
  },
]

const anim = {
  old: {
    name: 'scale-anim',
    duration: '0.4s',
    easing: 'ease-in-out',
    direction: 'reverse',
  },
  new: {
    name: 'scale-anim',
    duration: '0.4s',
    easing: 'ease-in-out',
  },
}

const scaleAnim = {
  forwards: anim,
  backwards: anim,
}
---

<aside
  transition:persist="true"
  class="bg-primary relative flex flex-1 flex-col justify-between gap-4 overflow-y-auto overflow-x-hidden rounded-lg [grid-area:aside]"
>
  <section class="mx-4 mt-4 flex flex-col items-center gap-0.5">
    <picture class="border-dark mx-1 size-28 overflow-hidden rounded-full border-4">
      <!-- <Image
        loading="eager"
        inferSize={true}
        class:list={`aspect-square size-full object-cover object-center`}
        src={user.image}
        alt="A starry night sky."
      /> -->
      <Image
        loading="eager"
        class:list={`aspect-square object-cover object-center`}
        src={imageProfile}
        alt="A starry night sky."
      />
    </picture>
    <h2 class="text-light text-center text-xl font-extrabold">Jinwoo</h2>
    <!-- <p class="drop-shadow-secondary mt-2 text-center text-2xl font-bold drop-shadow-md">
      $ 100.000.000
    </p> -->
  </section>
  <nav class="nav relative mx-2 flex flex-col justify-center gap-4">
    <!-- <div
      id="menu-backdrop"
      transition:animate={scaleAnim}
      class="bg-dark absolute top-[var(--top)] h-[var(--height)] w-full rounded-lg transition-all duration-300 ease-in-out"
    >
     <div
        class="bg-dark before:bg-primary left-4/5 absolute -top-4 h-4 w-full before:absolute before:top-0 before:h-full before:w-4 before:rounded-br-full before:[content:'']"
      >
      </div>
      <div
        class="bg-dark before:bg-primary left-4/5 absolute -bottom-4 h-4 w-full before:absolute before:top-0 before:h-full before:w-4 before:rounded-tr-full before:[content:'']"
      >
      </div>
    </div> -->
    <InitBackdrop client:only="true" itemSelector="nav ul li a" />

    <div>
      <ul class="flex flex-col gap-2">
        <BarItem href="/">
          <DashboardIcon class="size-4" />
          Dashboard
        </BarItem>
      </ul>
    </div>
    {
      menuItems.map((section) => (
        <div>
          <h3 class="text-dark select-none rounded-lg px-2 text-base font-extrabold">
            {section.title}
          </h3>
          <ul class="flex flex-col gap-2">
            {section.items?.map((item) => (
              <BarItem href={item.url}>
                <item.icon class="size-4" />
                {item.title}
              </BarItem>
            ))}
          </ul>
        </div>
      ))
    }

    <div>
      <ul class="flex flex-col gap-2">
        <BarItem href="/settings">
          <SettingsIcon class="size-4" />
          Settings
        </BarItem>
      </ul>
    </div>
  </nav>

  <footer class="mx-4 mb-3 flex grow basis-0 items-end justify-center">
    <form action="/api/auth/signout" class="w-full">
      <button
        class="bg-secondary text-dark-light w-full cursor-pointer rounded py-1.5 text-center text-lg font-bold"
        type="submit">Log Out</button
      >
    </form>
    <!-- <button
      id="logout"
      class="flex cursor-pointer items-center gap-2 py-2 pr-2 font-bold transition-all duration-200 hover:pr-7"
    >
      <LogoutIcon class="stroke-3 text-dark size-5" />
      Log Out
    </button> -->
  </footer>
</aside>

<script>
  import { $ } from '@/utils/dom-selector'
  const { signOut } = await import('auth-astro/client')

  const $logout = $('#logout')
  if ($logout)
    $logout.onclick = () => {
      signOut()
        .then(() => {
          window.location.href = '/'
        })
        .catch((error) => {
          console.error('Error during logout:', error)
        })
    }
</script>
